if [ ! -d state ]; then
  echo "Bosh is not depoloyed."
  echo "Look at README for next steps.."
  exit 1
fi

echo "Setting up working environment"
export BOSH_CA_CERT=$(bosh int credentials/bosh.yml --path /director_ssl/ca)
export BOSH_CLIENT=admin
export BOSH_CLIENT_SECRET=$(bosh int credentials/bosh.yml --path /admin_password)
export BOSH_ENVIRONMENT=vbox
export BOSH_VM_CID=$(bosh int state/bosh.json --path /current_vm_cid)
export VAULT_ADDR=https://10.244.18.2:8200
export VAULT_SKIP_VERIFY=true

if [ -z $BOSH_VM_CID ]; then
    echo "State folder is there, but I cannot find VM $BOSH_VM_CID in virtualbox."
    echo "Possibly means that deployment of bosh is happening right now"
    exit 1
fi

RUNNING_VMS=`vboxmanage list runningvms`
if [[ $RUNNING_VMS == *$BOSH_VM_CID* ]]; then
    bosh -e 192.168.50.6 --ca-cert=credentials/director_ssl_ca alias-env $BOSH_ENVIRONMENT
else
    echo "Bosh Lite not running, please execute ./bosh-start.sh"
fi
